@import url("https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css");
@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Monoton");
@import url("https://fonts.googleapis.com/css?family=Comfortaa");
div.flex {
  display: flex;
  flex-wrap: wrap;
}

h1 p {
  font-size: 1rem;
}

h1 {
  flex-grow: 1;
}