.Footer {
  align-self: flex-end;
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: bisque;
  border-top: 1rem solid #ccc;
}

.Footer h1 {
  font-family: 'Monoton', arial;
  margin: 2rem;
}

.Footer p {
  display: inline;
  margin: 2rem;
}