.Header {
  width: 100vw;
  background-color: bisque;
  /* border-bottom: 1rem solid #ccc; */
}

.Header .title {
  display: flex;
  align-items: center;
}

.Header .title h1 {
  font-family: 'Lobster', arial;
  flex-grow: 1;
  margin: 2rem;
}

.Header .title p {
  display: inline;
  margin: 2rem;
}

.Header .button-group {
  margin: 0;
  backgorund-color: #ccc;
}

.Header button.button {
  margin: 0;
  height: 4rem;
  background-color: #ccc;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  transition: background-color 0.30s ease-out, color 0.25s ease-out, width 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.Header button i,
.Header button svg {
  color: black;
  transition: display 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.Header button:hover i,
.Header button:hover svg {
  display: none;
}

.Header button p {
  display: none;
  transition: display 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.Header button:hover p {
  display: initial;
}