.Post {
  padding: 2rem;
}

.Post .title h1 {
  font-family: 'Lobster', arial;
  flex-grow: 1;
}

.Post .title p {
  /* display: inline; */
}

.Post .title .authorship {
  margin: 1rem;
}

.Post .title .authorship p:last-child {
  color: #666;
}

.Post .post {
  border-top: 0.25rem solid #ccc;
  padding: 1rem;
}