.Post {
  padding: 2rem;
}

.Post .title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.Post h1 {
  font-family: 'Monoton', arial;
  flex-grow: 1;
}

.Post .title p {
  display: inline;
}